<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </Console>
        <File name="newsLoaderLog" fileName="C:\Users\Uladzislau_Kastsevic\Documents\Repositories\mentoring-program\Task 1\Back-end app\logs\newsLoaderLog.txt">
            <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.log4j.xml" level="info"/>
        <Logger name="com.epam.esm.task1.scheduling.NewsLoader">
            <AppenderRef ref="newsLoaderLog"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>